<div class="row">
<div class="container">
<div class="panel panel-success">
    <div class="panel-heading" align="center">
        <h3 class="panel-title">Jobs</h3>
    </div>
    <div class="panel-body">
        Looking for a ruby on rails hacker to join the instagram team.
        <p><a class="btn btn-primary btn-sml"  href="/users/new">Contact</a></p>
    </div>
    </div>
</div>
<% @posts.each do |post| %>

<h1><%= link_to post.title.titleize , board_path(post.id) %></h1>
<br>
<%= post.description %>

<% end %>