<h1 align="center">Community</h1>
<div align="center">
<button type="button" class="btn btn-defualt" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left">Jobs</button>

<button type="button" class="btn btn-defualt" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top">Ride Share</button>

<button type="button" class="btn btn-defualt" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom">Collaborate</button>

<button type="button" class="btn btn-defualt" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right">Other</button>
</div>


<% @posts.each do |post| %>
<div class="row">
<div class="container">
<div class="panel panel-success">
    <div class="panel-heading" align="center">
        <h3 class="panel-title"><%= link_to post.title.titleize , board_path(post.id) %></h3>
    </div>
    <div class="panel-body">
      <%= post.description %>
        <p><a class="btn btn-primary btn-sml"  href="/users/new">Contact</a></p>
    </div>
    </div>
</div>
</div>
<% end %>