<!DOCTYPE html>
<html>
<head>
  <title>GA Social</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="">
</head>
<body>



<div class="navbar navbar-black">
    <div class="navbar-header" class="bbg">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" >
          <img alt="Ga-lockup" width="300em"; src="https://ga-core-production-herokuapp-com.global.ssl.fastly.net/assets/ga-lockup-61c4920d0981703871ab3256bc786a2f.png">

        </a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li><h2 style="color: white;">Network</h2></li>
            <li><a href="/boards"></a></li>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/boards">Boards</a></li>
            <li><a href="/users/show">Profile</a></li>
            <li><a href="/boards/new">Create Board</a></li>
                </ul>
            </li>
        </ul>
        
    </div>
</div>

<%= yield %>

</body>
</html>