<div class="container-fluid">
<div class="jumbotron" class="col-sml-8">
    <h1 align="center">Welcome to G.A Network !</h1>
    <p>Connect with alumnia or look for talent!</p>
    <div class="row">
    <p><a class="btn btn-primary btn-sml" href="/users/new">Student</a></p>
    <p><a class="btn btn-primary btn-sml"  href="/users/new">Looking for Talent</a></p>   
    </div>
</div>
</div>