
<h1 align="center">All Users</h1>
<div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/7/000/219/1ec/09481e2.jpg" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>Ajesh Shah </h3>
        <em>click my face for more</em>
		</center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Ajesh</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/7/000/219/1ec/09481e2.jpg" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Ajesh Shah <small>USA</small></h3>
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Ruby on rails</span>
                        <span class="label label-info">Javascript</span>
                        <span class="label label-success">SQL Postgress</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        Studied wed developing at G.A , Awesome.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Ajesh</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>